body {
  background-color: #98CE00;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #98CE00;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

h1 {
  font-size: 2em;
  margin-top: 40px;
}

h2 {
  font-size: 1.5em;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3, h4 {
  font-size: 1.25em;
}

button {
  border-color: black;
  box-shadow: 3px 3px 2px #808080a1;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  margin-top: 30px;
  margin-right: 8px;
  padding: 15px;
  transition-duration: .3s;
}

button:hover {
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  cursor: pointer;
}

.entire-screen {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #98CE00;
  font-family: 'Press Start 2P', cursive;
  height:100vh;
  width: 100vw;
  text-align: center;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 60vw;
  background-color: white;
}

.players-score-board {
  margin-top: 100px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 20vw;
}

.game-types {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: white;
  line-height: 1.2;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60vw;
}

.classic-choice-box,
.mythical-choice-box {
  background-color: white;
  color: black;
  padding: 20px;
  margin-bottom: 30px;
}

.classic-choice-box:hover,
.mythical-choice-box:hover {
  background-color: #D81159;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 15px 0 rgba(0,0,0,0.19);
  color: white;
  cursor: pointer;
}
.c-fighters,
.d-fighters,
.chosen-fighters-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 60vw;
}

.hidden {
  display: none!important;
}

.side-panels {
  background-color: #98CE00;
  height: 100vh;
}
